/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Noto+Serif:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

body {
    color: #999;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.80857;
}

pre code {
  /*background-color: #eee;
  border: 1px solid #999;*/
  display: block;
  padding: 0px 20px;
}

body.demos .section {
    background: url(images/bg.png) repeat top center #f2f3f5;
}

body.demos .section-title img {
    max-width: 280px;
    display: block;
    margin: 10px auto;
}

body.demos .service-widget h3 {
    border-bottom: 1px solid #ededed;
    font-size: 18px;
    padding: 20px 0;
    background-color: #ffffff;
}

body.demos .service-widget {
    margin: 0 0 30px;
    padding: 30px;
    background-color: #fff
}

body.demos .container-fluid {
    max-width: 1080px
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}

h1 {
    font-size: 42px
}

h2 {
    font-size: 38px
}

h3 {
    font-size: 36px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}
ul, li, ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}


/*------------------------------------------------------------------
    WP CORE
-------------------------------------------------------------------*/

.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 0 15px;
}

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
    float: left;
    width: 100%;
}

.w3-col.s4 {
    width: 33.33333%;
}

.first {
    clear: both
}

.last {
    margin-right: 0
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}

a img.alignnone {
    margin: 10px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/


body.main .sidebar-nav li a.active{
	background: #99896e;
	color: #ffffff;
}

.side-top{
	position: absolute;
	top: 26%;
	width: 280px;
	text-align: center;
	margin: -20px auto;
	padding: 0 30px;
	list-style: none;
}


/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/

.parallax {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 120px 0;
    position: relative;
    width: 100%;
}

.parallax.parallax-off {
    background-attachment: scroll !important;
    display: block;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center center;
    vertical-align: sub;
    width: 100%;
    z-index: 2;
}

.parallax-off::before{
	content: "";
	position: absolute; 
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	left: 0px;
	top: 0px;
}


.no-scroll-xy {
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 60px 0;
}

.noover {
    overflow: visible;
}

.noover .btn-dark {
    border: 0 !important;
}

.nopad {
    padding: 0;
}

.nopadtop {
    padding-top: 0;
}

.section.wb {
    background-color: #ffffff;
}

.section.lb {
    background-color: #f2f3f5;
}

.section.db {
    background-color: #1f1f1f;
}

.section.color1 {
    background-color: #448AFF;
}

.first-section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 16em 0 13em;
}

.first-section::before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000000;
}
.first-section::before{
	opacity: 0.5;
}

.first-section h2 {
    color: #ffffff;
    font-size: 68px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
}

.big-tagline{
	padding: 10px 0px;
}

.first-section .lead {
    font-size: 21px;
    font-weight: 300;
    padding: 0 0 40px;
    margin: 0;
    line-height: inherit;
    color: #ffffff;
}

.macbookright {
    width: 980px;
    position: absolute;
    right: -15%;
    bottom: -6%;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 42px;
    font-weight: 300;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.section.colorsection p,
.section.colorsection h3,
.section.db h3 {
    color: #ffffff;
}


/*------------------------------------------------------------------
    PORTFOLIO
-------------------------------------------------------------------*/
.project_box_one {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one_static img {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one_static .product_info,
.project_box_one .product_info {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
}
.project_box_one_static .product_info .product_info_text,
.project_box_one .product_info .product_info_text{
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  position: relative;
}
.project_box_one_static .product_info .product_info_text .product_info_text_inner,
.project_box_one .product_info .product_info_text .product_info_text_inner{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.project_box_one_static .product_info .product_info_text .product_info_text_inner h4,
.project_box_one .product_info .product_info_text .product_info_text_inner h4{
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
  margin-bottom: 5px;
}
.project_box_one_static .product_info .product_info_text .product_info_text_inner i,
.project_box_one .product_info .product_info_text .product_info_text_inner i {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
}
.project_box_one:hover img {
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari */
  transform: scale(1.1);
  /* Standard syntax */
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one:hover .product_info {
  opacity: 1;
}
.project_box_one_static:hover .product_info .product_info_text_inner h4,
.project_box_one:hover .product_info .product_info_text_inner h4{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.project_box_one_static:hover .product_info .product_info_text_inner i,
.project_box_one:hover .product_info .product_info_text_inner i {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.project_box_one_static:hover .product_info {
  opacity: 0.6;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #ffffff;
  word-wrap: break-word;
  padding-right: 36px;
  font-size: 14px;
  text-transform: capitalize;
}

.gutters .grid-item {
  margin-bottom: 30px;
}


/*------------------------------------------------------------------
    FEATURES
-------------------------------------------------------------------*/

.image-center img {
    position: relative;
    margin: 0 0 -208px;
    z-index: 10;
    padding-right: 30px;
    text-align: center;
}


.img-center img {
    width: 100%;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.img-center {
    margin: auto;
}

/*------------------------------------------------------------------
    BUTTONS
-------------------------------------------------------------------*/

.navbar-default .btn-light {
    padding: 0 20px;
    margin-left: 15px;
}

.btn {
    border: 0 !important;
}

.nav-pills,
.effect-1:after,
.nav-pills > li > a,
.global-radius,
.btn-brd {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btn-light {
    padding: 13px 40px;
    font-size: 18px;
    border: 2px solid #ffffff !important;
    color: #ffffff;
    background-color: transparent;
	font-weight: 500;
}

.btn-dark {
    padding: 13px 40px;
    font-size: 18px;
    border: 1px solid #ececec !important;
    color: #1f1f1f;
    background-color: transparent;
}

.btn-light:hover,
.btn-light:focus {
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
}



/*------------------------------------------------------------------
    Menu Button
-------------------------------------------------------------------

@media (max-width: 768px) {
  .menu-btn {
    opacity: 1;
    display: block;
  }

  .menu_block {
    min-height: 100%;
    padding: 0;
    max-width: 250px;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 999999;
    margin-left: -250px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .menu_block .side_menu_bottom {
    position: relative;
  }

  .sidebar_closed .menu_block {
    margin-left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.menu-btn {
  font-size: 36px;
  text-align: center;
  position: fixed;
  right: 30px;
  display: none;
  opacity: 0;
  bottom: 30px;
  padding: 3px 0;
  background-color: #fff;
  z-index: 9999;
  width: 60px;
  color: #99896e;
  height: 60px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 42px rgba(0, 0, 0, 0.1);
}
.menu-btn:hover {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.09);
  color: #18181c;
}*/










